<style media="screen">
     .status_account{
        width: 50px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
                    0px 2px 4px 0px rgba(0, 0, 0, 0.15),
                    0 0 0 1px rgba(0, 0, 0, 0.06),
                    0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        width: 98%;
        margin-left: 2px;
        margin-top: 25px;
    }
    .h5{
        text-align: right;
        margin-right: 21px;
        padding-top: 12px;
    }
    .details{
        width: 73%;
        margin-left: 20%;
        text-align: right;
    }

</style>
<div class='status_account' ng-if='$ctrl.status'>
    <div class="h5" ng-class = '{ red: $ctrl.status == "limited" ,  green: $ctrl.status == "correct" }'>
        {{$ctrl.statusText.head}}
    </div>
    <div class="details" dir=rtl>
        {{$ctrl.statusText.details}}
    </div>
</div>
