app-element{
    font-family: Open Sans Hebrew, Open Sans Hebrew Light;
    height: 100%;
}

top-side{
    max-height: 8vh;
}

left-side{
    height: 92vh;
    background-color: #fafafa;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
                0px 2px 4px 0px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.06),
                0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

account-limited{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
                0px 2px 4px 0px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.06),
                0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    height: 92vh;
    background-color: #f2f2f2;
}

check-form{
    width: 50%;
    margin-left: 30%;
}

input:focus{
    border: none;
    text-align: right;
}

input{
    text-align: right;
    border-bottom: 1px solid #a1adbe;
    margin:10px;
    outline: none;
}

    input:focus{
        outline: none;
        text-align: right;
    }

    input{
        border: none;
        border-bottom: 1px solid #a1adbe;
        outline: none;
        width: 80%;
        margin-left: 10%;
        outline-offset: 0px;
    }
    input:focus{
        border-bottom: 1px solid #a1adbe;
        line-height: 22px;
        padding: 6px;
        outline-offset: 0px;
        padding: 2px;
    }
    .input_form span{
        margin-left: 10%;
        margin-top: -10px;
    }
    .input_form{
        background-color: white;
        width: 53%;
        height: 65%;
        margin-left: 25%;
        margin-top: 7%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
                    0px 2px 4px 0px rgba(0, 0, 0, 0.15),
                    0 0 0 1px rgba(0, 0, 0, 0.06),
                    0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .input_form small{
        float: right;
        margin-right: 10%;
        color: #a1adbe;

    }
    .input_form h3{
        float: right;
        color: #18be8c;
        margin: 15px;
        margin-right: 29px;
        height: 65px;
    }

    input::-webkit-input-placeholder {
      color: #8b8b8b;
      text-align:right;
  }
  .input_details{
        width: 80%;
        margin-left: 13px;
    }
  .input_details div{
      margin-top: -10px;
  }
  div text {
        border-bottom: 1px solid #fafafa;
        width: 89%;
        color: #18be8c;
        text-align: right;
        float: right;
        margin-right: 29px;
  }

.green{
    color: #18be8c;
}
.red{
    color: #ff5a5f;
}
